<html>
 <head>
   <title></title>
 </head>
<body> 
<!-- Image Slider -->
<div id = "slides" class = "carousel slide" data-ride = "carousel">
    <ol class = "carousel-indicators">
      <li data-target = "#slides" data-slide-to = "0" class = "active"></li>
      <li data-target = "#slides" data-slide-to = "1"></li>
      <li data-target = "#slides" data-slide-to = "2"></li>
    </ol>
  <div class = "carousel-inner">
    <div class = "carousel-item active">
      <img class = "d-block w-100" src = "https://images.pexels.com/photos/1162964/pexels-photo-1162964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      <div class = "carousel-caption">
        <p class="display-1">IMS</p>
        <h3>Instant Messaging Service</h3>
        <button type = "button" class = "btn btn-outline-light btn-lg">View Demo</button>
        <button type="button" class = "btn btn-primary btn-lg">Get Started</button>
      </div>
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "https://images.pexels.com/photos/263532/pexels-photo-263532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "https://images.pexels.com/photos/261763/pexels-photo-261763.jpeg?auto=compress&cs=tinysrgb&h=350">
    </div>
  </div>
  </div>
  
  <!-- Jumbotron -->
  <div class = "container-fluid">
    <div class = "row jumbotron">
      <div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class = "lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minima est impedit nobis voluptatum quasi nesciunt laboriosam mollitia obcaecati cupiditate eius a, optio delectus sapiente ducimus nisi omnis eos accusantium vitae neque distinctio ipsum illum quisquam. Asperiores aut, laboriosam nemo expedita assumenda possimus magnam eaque doloribus cupiditate atque quod quisquam.</p>
      </div>
      <div class = "col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="#"><button type = "button" class = "btn btn-outline-secondary btn-lg">Web Hosting</button></a>
      </div>
    </div>
  </div>
  
  <!-- Welcome section -->
  <div class = "container-fluid padding">
    <div class = "row welcome text-center">
      <div class = "col-12">
        <p class = "display-4">Built with ease</p>
      </div>
      <hr>
      <div class = "col-12">
        <p class = "lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis, voluptates labore sunt, placeat delectus sint maiores non in reiciendis, doloremque neque facilis fugit doloribus.</p>
      </div>
    </div>
  </div>
  
  <!-- Three column section -->
  <div class = "container-fluid padding">
    <div class = "row text-center padding">
      <div class = "col-xs-12 col-sm-6 col-md-4">
        <i class = "fas fa-code"></i>
        <h3>HTML5</h3>
        <p>Build with the latest version of HTML, HTML5</p>
      </div>
      <div class = "col-xs-12 col-sm-6 col-md-4">
          <i class = "fas fa-bold"></i>
          <h3>BOOTSTRAP</h3>
          <p>Build with the latest version of Bootstrap, Bootstrap4</p>
      </div>
      <div class = "col-sm-12 col-md-4">
          <i class = "fab fa-css3"></i>
          <h3>CSS3</h3>
          <p>Build with the latest version of CSS, CSS3</p>
      </div>
    </div>
    <hr class = "my-4">
  </div>
  
  <!-- Two column section -->
  <div class = "container-fluid padding">
    <div class = "row padding">
      <div class = "col-lg-6">
        <h2>If You build it....</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, reprehenderit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae recusandae laboriosam nulla incidunt hic vel.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolores aspernatur velit?</p>
        <br>
        <a href = "#" class = "btn btn-primary">Learn More</a>
      </div>
    <div class = "col-lg-6">
      <img src = "https://images.pexels.com/photos/262572/pexels-photo-262572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class = "img-fluid"> 
    </div>
  </div>
  </div>
  
  <hr class = "my-4">
  <!-- Fixed background -->
    <div class = "parallax">
      <div class = "row"></div>
    </div>
  
  <!-- Emoji Section -->
  <button class = "fun" data-toggle="collapse" data-target="#emoji">
    Click for fun
  </button>
  <div id = "emoji" class = "collapse">
    <div class = "container-fluid padding">
      <div class = "row text-center">
        <div class = "col-sm-6 col-md-3">
          <img class = "gif" src = "../assets/img/gif/panda.gif">
        </div>
        <div class = "col-sm-6 col-md-3">
            <img class = "gif" src = "../assets/img/gif/poo.gif">
          </div>
          <div class = "col-sm-6 col-md-3">
              <img class = "gif" src = "../assets/img/gif/unicorn.gif">
            </div>
            <div class = "col-sm-6 col-md-3">
                <img class = "gif" src = "../assets/img/gif/chicken.gif">
              </div>
      </div>
    </div>
  </div>
  
  <!-- Meet the team -->
  <div class = "container-fluid padding">
    <div class = "row welcome text-center">
      <div class = "col-12">
        <p class = "display-4">Meet the team</p>
      </div>
      <hr>
    </div>
  </div>
  
  <!-- Cards -->
  <div class = "container-fluid padding">
    <div class = "row padding">
      <div class = "col-md-4">
        <div class = "card">
          <img class = "card-img-top" src= "../assets/img/team1.png">
          <div class = "card-body">
            <h4 class = "card-title">John Doe</h4>
            <p class = "card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur possimus necessitatibus dolores mollitia. Adipisci ex odio quo quis optio ullam, nesciunt ad quae mollitia suscipit.</p>
            <a href = "#" class = "btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>
  
      <div class = "col-md-4">
          <div class = "card">
            <img class = "card-img-top" src= "../assets/img/team2.png">
            <div class = "card-body">
              <h4 class = "card-title">Mary Joe</h4>
              <p class = "card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur possimus necessitatibus dolores mollitia. Adipisci ex odio quo quis optio ullam, nesciunt ad quae mollitia suscipit.</p>
              <a href = "#" class = "btn btn-outline-secondary">See Profile</a>
            </div>
          </div>
        </div>
  
        <div class = "col-md-4">
            <div class = "card">
              <img class = "card-img-top" src= "../assets/img/team3.png">
              <div class = "card-body">
                <h4 class = "card-title">Phil Ho</h4>
                <p class = "card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur possimus necessitatibus dolores mollitia. Adipisci ex odio quo quis optio ullam, nesciunt ad quae mollitia suscipit.</p>
                <a href = "#" class = "btn btn-outline-secondary">See Profile</a>
              </div>
            </div>
          </div>
    </div>
  </div>
  
  <!-- Two column section -->
  <div class = "container-fluid padding">
      <div class = "row padding">
        <div class = "col-lg-6">
          <h2>Our Philosophy</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, reprehenderit?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae recusandae laboriosam nulla incidunt hic vel.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolores aspernatur velit?</p>
          <br>
          <a href = "#" class = "btn btn-primary">Learn More</a>
        </div>
      <div class = "col-lg-6">
        <img src = "../assets/img/bootstrap2.png" class = "img-fluid"> 
      </div>
    </div>
  </div>
  
  <!-- Connect -->
  <div class ="container-fluid padding">
    <div class = "row text-center padding">
      <div class = "col-12">
        <h2>Connect</h2>
      </div>
      <div class = "col-12 social padding">
        <a href = "#"><i class = "fab fa-facebook"></i></a>
        <a href = "#"><i class = "fab fa-twitter"></i></a>
        <a href = "#"><i class = "fab fa-google-plus-g"></i></a>
        <a href = "#"><i class = "fab fa-instagram"></i></a>
        <a href = "#"><i class = "fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer>
    <div class = "container-fluid padding">
      <div class = "row text-center">
        <div class = "col-md-4">
          <img src = "../assets/img/w3newbie.png">
          <hr class = "light">
          <p>555-555-555-555</p>
          <p>abc@mail.com</p>
          <p>311 gtb nagar</p>
          <p>Delhi 110009</p>
        </div>
        <div class = "col-md-4">
          <hr class = "light">
          <h5>Our hours</h5>
          <hr class = "light">
          <p>Monday: 9-12</p>
          <p>Saturday: 10-4</p>
          <p>Sunday: closed</p>
        </div>
        <div class = "col-md-4">
            <hr class = "light">
            <h5>Service Area</h5>
            <hr class = "light">
            <p>City, State</p>
            <p>City, State</p>
            <p>City, State</p>
            <p>City, State</p>
        </div>
        <div class = "col-12">
          <hr class = "light-100">
          <h5>&copy; IMS Productions</h5>
        </div>
      </div>
    </div>
  </footer>
  </body>
  </html>
  
    
